body{
    background-color: rgb(185, 205, 243);
    font-family: monospace 'Courier New', Courier, monospace;
}

img{
    width: 100px;
    border-radius: 300px;
}
h1{
    color: rgb(0, 0, 0);
}
header{
    text-align: center;
}
main{
    background-color: green;
    padding:28px;
    width: 500px;
    margin: 28px auto;
    border-radius: 10px;
    color: white;
}
footer{
    text-align: center;
    margin-bottom: 50px;
}
#what{
    color: black;
    border-radius: 5px;
    text-decoration: none;
    background-color: aqua;
    padding: 4px 6px ;
}
#pdf{
    color: white;
    border-radius: 5px;
    text-decoration: dashed;
    background-color: black;
    padding: 4px 6px ;
}
button{
    background-color: aqua;
    border: 3px;
    border-radius: 10px;
    text-decoration: none;
}
#btn{
    text-align: center;
    align-self: center;
    margin: 13px 75px;
    text-decoration: none;
}
#btn a:hover, a:active{
    color: white ;
    background-color: blue;
    text-decoration: none;
}